@font-face {
  font-family: "Force";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Aquire.otf") format("truetype");
}
@font-face {
  font-family: "Force";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Aquire.otf") format("truetype");
}
.protitle {
  box-sizing: border-box;
  // font-size: 44px;
  font-family: "Force";
}
.protitle {
  box-sizing: border-box;
  // font-size: 44px;
  font-family: "Force";
}
html,
body {
  height: 100%;
}
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #dedcc7;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #191818;
}
